@model LibraryInventory.Models.Book

@{
    ViewData["Title"] = "Modificar libro";
}

<h2>Modificar libro</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ISBN" />
            <div class="form-group" style="margin: 1em auto !important;">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin: 1em auto !important;">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin: 1em auto !important;">
                <label asp-for="PublisherId" class="control-label"></label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.AvailablePublishers"></select>
            </div>
            <div class="form-group" style="margin: 1em auto !important;">
                <label asp-for="NumberOfPages" class="control-label"></label>
                <input asp-for="NumberOfPages" class="form-control" />
                <span asp-validation-for="NumberOfPages" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin: 1em auto !important;">
                <label asp-for="Synopsis" class="control-label"></label>
                <textarea asp-for="Synopsis" class="form-control"></textarea>
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin: 1em auto !important;">
                <label asp-for="Authors" class="control-label"></label>
                <select asp-for="Authors" asp-items="ViewBag.AvailableAuthors" name="selectedAuthors" class="form-control" multiple></select>
            </div>
            <div class="form-group" style="margin: 1em auto !important;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}